.gallery {
  display: grid;
  gap: 20px;
  padding: 20px;
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr); /* Se transforma en 3 columnas */
  }
}

.gallery img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}
